[2019-08-16 16:29] saurabh-kataria opened #2 "might as well include analysis for GELU in future"
[Gaussian Error Linear Units (GELUs)](https://arxiv.org/abs/1606.08415)

[2019-08-16 19:34] digantamisra98 commented on #2
@saurabh-kataria Surely will. I am still continually performing more and more benchmarks.

[2019-08-27 11:38] DaniyarM opened #5 "Error in TF-Keras mish"
In function call: return inputs * tf.math.tanh(tf.math.softplus(**x**))
Should be **inputs** instead of **x** inside softplus

[2019-08-27 14:46] digantamisra98 commented on #5
Thank You! Fixed.

[2019-08-27 14:46] #5 closed

[2019-08-27 14:47] #2 closed

[2019-08-28 15:19] DaniyarM opened #6 "might as well include analysis for Flatten-T Swish in future"
[Flatten-T Swish](https://arxiv.org/abs/1812.06247) is `relu(x) * sigmoid(x) - 0.2`
That activation showed better results than vanilla Swish in my experiments.

[2019-08-28 15:35] digantamisra98 commented on #6
Sure, will add benchmarks against the same. Thanks for the recommendation.

[2019-08-28 15:35] #6 closed

[2019-08-28 20:23] LifeIsStrange opened #7 "Small rant on the inertia of AI research"
Hi!
This is not an issue *per se* and can be closed.

First of all, thank you for advancing progress in deep learning.

I'm just a random guy that want to implement an AGI (lol) and like many Nlp engeeners, I need HIGHLY accurate neural networks for fundamental NLP tasks (e.g POS tag, NER, dep parsing, Coref resolution, WSD, etc)
They are all not very accurate (often sub 95% F1 score) and their er

[2019-08-28 20:47] digantamisra98 commented on #7
Hi. Thanks for this comment and I would be happy to put forth my view in regards to the same. Firstly, I don' tag myself a researcher neither do I represent any big player in the research scene especially in the domain of Machine/ Deep Learning and I mostly indulge in experimenting and exploring Mathematics. I strongly agree that collaborative research where using all the best available parameters

[2019-08-28 20:47] #7 closed

[2019-08-28 21:16] LifeIsStrange commented on #7
@digantamisra98
Well your answer really pleased me, thank you too!

Especially:
I didn't knew of SQNL.
And
*we are planning to combine the best of everything (Ranger Optimizer(by Geoffrey Hinton) + Efficient Net(by Google) + CoordConv Layers(By Uber) + Mish activation)*
This is so awesome to read, I wish you good luck!
Don't feel an obligation ^^ but I would like to hear news about this neural net

[2019-08-28 21:36] LifeIsStrange commented on #7
@digantamisra98
BTW this is not the right place for having an off topic discussion (but what is?)

It's not everyday I can speak to someone knowledgeable in AI and maths fields so:
I see you're *On a Mathematical Adventure*!
What categories of mathematics interest you the most?
Are there any recent advances in the fields of mathematics that you think is worth sharing?
I'm interested in mathematics

[2019-08-29 01:04] digantamisra98 commented on #7
@LifeIsStrange Thank you for the appreciation. I'll make a repository where I'll push all the codebase for the CIFAR-10 and 100 experiments. I'm aware of XLNet taking over BERT since a while. I'm mostly interested in Reimann Hypothesis, K-theory, Ring Theory, Graph Theory, Morita Equivalence and their subsets, however, I'm just starting with them. Also, right now I mostly work in general algorithm

[2019-08-29 13:54] LifeIsStrange commented on #7
@digantamisra98

*we are planning to combine the best of everything (Ranger Optimizer(by Geoffrey Hinton) + Efficient Net(by Google) + CoordConv Layers(By Uber) + Mish activation)*

Optimizers are evolving really quickly ^^
https://github.com/mgrankin/over9000/blob/master/README.md
RangerLars now seems even better than Ranger!

I heard about it on this thread:
https://forums.fast.ai/t/meet-mish-ne

[2019-08-29 15:35] digantamisra98 commented on #7
@LifeIsStrange yes I'm going through all the threads related to Mish and I've dropped Less a message. Hopefully he replies. He also recently beat the world leaderboard for ImageWoof 5 epoch classification test accuracy using Mish and Ranger along with other SOTA algorithms and factors. Find the thread here - https://forums.fast.ai/t/how-we-beat-the-5-epoch-imagewoof-leaderboard-score-some-new-tech

[2019-09-02 07:21] tranhungnghiep opened #8 "SiLU is a more relevant baseline than Swish"
Although Swish by Google researchers is more popular, it is the result of NAS and not very well-justified. Actually Swish is a modification of the earlier activation function SiLU (Sigmoid-weighted linear units), which shows better results than Swish on several benchmarks and simpler conceptually. Moreover, SiLU is more theoretical justified, for example the idea of self-regularization was propose

[2019-09-02 08:26] digantamisra98 commented on #8
@tranhungnghiep Hi. All the benchmarks in this repository are pertaining to SiLU itself considering the Beta values for Swish are set to 1 itself which translates to the formula: input * sigmoid(input) which is the SiLU formula itself.

[2019-09-02 08:26] #8 closed

[2019-09-02 09:54] tranhungnghiep commented on #8
@digantamisra98 I see. So it makes even more sense now to state clearly the baseline is SiLU. Note that Swish is different in that the scale factor beta is learnable. Maybe you will find it interesting to compare against 2 baselines, SiLU and Swish with learnable beta. I'm very curious in what contribute to a good activation function and why so.

[2019-09-02 10:34] digantamisra98 commented on #8
@tranhungnghiep agreed. But a small correction to your statement. According to the Swish paper, baseline Swish is when beta = 1, their paper clearly mentions it when they showcase how to implement it on TensorFlow which is: x * tf.sigmoid(x).

[2019-09-03 15:47] senovr opened #9 "Saving trained model (mish-Keras)"
Hi, I am trying to save weights of trained model utilizing Keras model_checkpoint.

The error I am getting (last couple of rows):

File "C:\Users\SParkhonyuk\AppData\Local\Continuum\anaconda3\envs\DL\lib\site-packages\keras\engine\network.py", line 860, in get_config
    layer_config = layer.get_config()

  File "C:\Users\SParkhonyuk\repos\...\mish.py", line 36, in get_config
    return dict(list(

[2019-09-03 16:28] digantamisra98 commented on #9
Hey @senovr. Thank you for pointing it out. It was a minor issue. The config dictionary is present when we have a list of trainable parameters for the activation function. Since, Mish doesn't have any, there is no config object. I have fixed the code. Please try now, hopefully it will work.

[2019-09-05 06:28] senovr commented on #9
Hey @digantamisra98

Another feedback from my side on Mish:

I tried also enable tensorboard in Keras callbacks.
It fails with the newest implementation.

I tried defining the function right in the file where my CNN is stored; it doesn't help.
It even brokes model_checkpoint routine again.

After some search on Google, I found this issue:
https://github.com/keras-team/keras/issues/8716

When I re-

[2019-09-05 23:25] Lauler opened #10 ""Unexpected keyword argument" error when loading model with TF-keras version of Mish"
Hi. I trained a model with the TF-Keras version of MIsh and saved it. However, I cannot figure out how to load the Mish custom layer object when attempting to load the model.

[code]

Any advice on how to successfully load a saved model?

[2019-09-06 02:10] digantamisra98 commented on #9
@senovr Thanks for pointing this out. Earlier I was following the Layer implementation as shown in the advanced activation function module of keras as shown here: https://github.com/keras-team/keras/blob/master/keras/layers/advanced_activations.py
I have fixed the code as per your recommendation. Hopefully, everything works now.
Let me know. Will close this once you have given the heads up that it

[2019-09-06 02:12] digantamisra98 commented on #10
@Lauler Just fixed the code. Can you please retry now. Make sure you follow the convention of:
X = Activation('Mish', name="conv1_act")(X_input)
Hopefully, it will work. Let me know if you face any issues.

[2019-09-06 11:59] jpcenteno80 opened #11 "implementing pytorch mish inplace"
Hi, do you have any tips on how to implement Mish as an inplace operation in PyTorch? Could this work? Is there a way of making the `F.softplus()` operation also inplace?
[code]

[2019-09-06 22:25] digantamisra98 commented on #11
Hey. I am still working on the Inplace operation of Mish, however, the issue lies in the TanH inplace implementation. There is an implementation which is somewhat inplace and you can find it here - https://forums.fast.ai/t/meet-mish-new-activation-function-possible-successor-to-relu/53299/89?u=diganta
Please read this thread, it has a subsequent brief discussion about the Inplace operation and pos

[2019-09-06 22:25] #11 closed

[2019-09-06 22:45] jpcenteno80 commented on #11
Thanks. I was running OOM with the "plain" implementation. Will give the implementation you suggest a try.
BTW, I was wondering if there is a typo in the derivative you have in your Mish paper [https://arxiv.org/pdf/1908.08681v1.pdf](https://arxiv.org/pdf/1908.08681v1.pdf), page 2. The delta term shows up as `2e^2x + e^2x + 2` but in Wolfram Alpha I am getting `2e^x + e^2x + 2`. I was testing the

[2019-09-06 23:33] digantamisra98 commented on #11
Oh thanks for the typo. In the readme, the delta term is correct. I'll take a look at this code and get back to you on the same.

[2019-09-06 23:49] xuzhang5788 commented on #9
@senovr
I used your class, but when I import mish, I got

Failed to convert object of type <class 'function'> to Tensor. Contents: <function Mish.mish at 0x7f92975d6bf8>. Consider casting elements to a supported type.

I changed this into swish, like this

from keras import backend as K
from keras.utils.generic_utils import get_custom_objects
from keras.layers.core import Dense, Dropout, Activatio

[2019-09-07 00:03] xuzhang5788 commented on #9
@senovr
I found my errors. there is no space before def swish(x) and get_custom_objects().update({'swish': Swish(swish)})

@digantamisra98 I tried your updated mish.py, it works. Thank you.

[2019-09-07 05:33] digantamisra98 commented on #9
@senovr @xuzhang5788 closing this issue since it seems to have been resolved.

[2019-09-07 05:33] #9 closed

[2019-09-07 18:28] bluesky314 opened #12 "Half the images are missing in Readme"
Title

[2019-09-07 18:51] #10 closed

[2019-09-07 20:28] digantamisra98 commented on #12
@bluesky314 I didn't understand the issue you're facing?

[2019-09-07 20:28] #12 closed

[2019-09-08 14:47] bluesky314 commented on #12
In your project description there are alot of images that are missing

On Sunday, September 8, 2019, Diganta Misra <notifications@github.com>
wrote:

[2019-09-08 14:53] digantamisra98 commented on #12
@bluesky314 All the images are present. Can you please put some clarity of what do you mean by missing? All subsequent images are present in the "Observation" folder both in the repo primary structure and in the notebooks folder. If not clarified, I'll delete this issue.

[2019-09-16 11:36] valendin opened #13 "{NameError}name 'uses_learning_phase' is not defined"
When using in an RNN, I get ```{NameError}name 'uses_learning_phase' is not defined``` when applying a Dense layer on the output of an LSTM.

Tensorflow 1.14

[2019-09-16 20:19] digantamisra98 commented on #13
Hi. Can you please provide the code so that I can replicate the error you're receiving along with the log. I haven't used Mish as of now on a LSTM so I'll have to check to validate the same. Meanwhile, I'm referring to these issue forums here:
1. https://github.com/tensorflow/tensorflow/issues/23425
2. https://github.com/keras-team/keras/issues/4178

[2019-10-08 02:16] drdlfy opened #14 "Double the training time"
My implementation is
inputs = inputs * tf.math.tanh(tf.math.softplus(inputs))
Tensorflow 1.14
When I use this activation function for my own model, the training time is doubled compared to swish

[2019-10-08 09:36] digantamisra98 commented on #14
@drdlfy Mish is a bit computationally expensive and I am still in the process of optimizing it further. Please take a look at this repository - https://github.com/thomasbrandon/mish-cuda
It has a CUDA implementation which is exponentially faster (Not on double precision and only available for GPU inference)
Mish is getting added to Tensorflow in the addons repository which will be more optimized t

[2019-10-08 09:36] #14 closed

[2019-11-03 16:58] digantamisra98 commented on #13
@valendin can you try using Mish from the Tensorflow Addons repository. Implementation is given here - https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations

[2019-11-04 16:36] digantamisra98 commented on #14
@drdlfy Mish is added to Tensorflow-Addons, which should be substantially faster than the foundation implementation you've used. Find more details here - https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations

[2019-11-04 16:37] digantamisra98 commented on #11
@jpcenteno80 Please check this implementation here - https://github.com/thomasbrandon/mish-cuda

[2019-11-04 22:34] valendin commented on #13
@digantamisra98 will do, have just moved to TF 2.0 so will have to retest

[2019-11-05 12:13] SkeletonOne opened #16 "When trying to change cifar-10 to cifar-100(In cifar-10-senet-18-mish) it raises RuntimeError: CUDA error: device-side assert triggered."
When trying to change cifar-10 to cifar-100(In cifar-10-senet-18-mish), I try to change the code in the second cell like this:
def get_training_dataloader(train_transform, batch_size=128, num_workers=0, shuffle=True):
    """ return training dataloader
    Args:
        train_transform: transfroms for train dataset
        path: path to cifar100 training python dataset
        batch_size: dataload

[2019-11-05 13:55] digantamisra98 commented on #16
Hi. Can you please tell me the environment in which you're running this code/ GPU on which the code is running. Or you can simply provide me the `nvidia-smi` output. I will try to replicate the error you had tomorrow. Regarding _**Stats.ipynb**_, you'll have to load in the results of your experiment in npz format to generate the graph. For the results shown, it was generated for the CalTech-256 da

[2019-11-06 05:26] SkeletonOne commented on #16
@digantamisra98 Hi, thanks for your detailed reply. I was trying to run the notebook cifar-10-senet-18-mish, with a Ubuntu16.04+torch1.13+CUDA10.1+NVIDIA driver430.50, and on a 1080Ti GPU.

I am able to run the code on cifar-10 with its initial form, however when I'm trying to change the code on cifar-100, it raises the above error. I'm not quite sure how to implement on cifar-100, so I just try t

[2019-11-06 05:45] digantamisra98 commented on #16
@SkeletonOne have you changed the num_classes = 10 to 100 ?

[2019-11-06 06:29] SkeletonOne commented on #16
@digantamisra98 I just changed the class_num from 10 to 100 and it runs successfully. Thanks!

[2019-11-06 06:29] #16 closed

[2019-11-06 06:52] SkeletonOne commented on #16
@digantamisra98 A little more confusion... Could you give me a guidance of how to generate the .npz file for Caltech-256 dataset? I'd appreciate it a lot!

[2019-11-06 18:00] digantamisra98 commented on #16
You have to benchmark CalTech-256 dataset which is easily available on Kaggle and save the log files in npz format to use that notebook

[2019-11-07 14:06] qo4on commented on #13
There is no `mish` activation:
[code]
How can I import it to TF 2.0?

[2019-11-07 18:24] digantamisra98 commented on #13
@qo4on have you updated TFA? Because Mish is here - https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/mish.py

[2019-11-07 19:30] qo4on commented on #13
I installed latest tfa in Colab:
[code]
Maybe I should have used nightly build `!pip install tfa-nightly` but I didn't find how to import it after the installation. I never used `tfa` before. Do you know how can I import `tfa-nightly`?

[2019-11-08 01:05] digantamisra98 commented on #13
@qo4on I just noticed that they're yet to put out their next release which is why Mish isn't a part of the package even though it's up on the source. You can directly install from the source (Instruction on their Readme) or else wait for the release for this month. I'll put forth an inquiry on when the next release is coming. Thanks

[2019-11-08 01:51] digantamisra98 commented on #13
@qo4on here's the update - https://github.com/tensorflow/addons/issues/683#issuecomment-551346829

[2019-11-09 11:35] qo4on commented on #13
Eventually I found the way to use Mish from the Tensorflow Addons in Colab:
[code]

[2019-11-11 20:25] digantamisra98 commented on #13
@qo4on Good to know. Let me know if there is any other issues regarding Mish.
@valendin closing this issue as of now, I believe using Mish from TFA will solve the error. Feel free to re-open it if the issue persists. Thanks!

[2019-11-11 20:25] #13 closed

[2019-11-11 20:33] mehmetalianil opened #17 "TF-Keras module name"
I know that it is minor, but it would ease things out to rename the folder TF-Keras.
Then we can just git clone repo & import.

Otherwise python doesn't like dashes in module/package names.

[2019-11-11 21:26] digantamisra98 commented on #17
Thanks for pointing that out. I have changed the folder name. Commit - [32d83f560b6b](https://github.com/digantamisra98/Mish/commit/be440ba12e7b4a37113e530a179e32d83f560b6b)
If you're using Native TF then I would suggest to try the TensorFlow Addons Implementation.
Closing the issue.

[2019-11-11 21:26] #17 closed

[2019-11-11 22:15] mehmetalianil commented on #17
Yep, trying that now, but I think it requires nightly.

[2019-11-11 22:43] digantamisra98 commented on #17
@mehmetalianil Please refer to this issue thread on how to import Mish from TFA - https://github.com/tensorflow/addons/issues/683#issuecomment-552015320
As of now yes it requires the dev-nightly but TFA is planning to have the next release pretty soon, the delay is because of the migration to TF 2.0.

[2019-11-17 21:16] glenn-jocher opened #18 "PyTorch Mish - 1.5x slower training, 2.9X more memory usage vs LeakyReLU(0.1)"
Hi, thanks for this interesting new activation function. I've tested it with YOLOv3-SPP on a V100 from https://github.com/ultralytics/yolov3 and have mixed feedback. The performance improves slightly, but the **training time is much slower** and the **GPU memory requirements are _much_ higher** vs LeakyReLU(0.1). Any suggestions on how to improve speed/memory in PyTorch? Thanks!

From https://gith

[2019-11-17 21:29] glenn-jocher commented on #7
@LifeIsStrange there is no such thing as 'free' gains. The gains you speak of always come at a compromise. See https://github.com/digantamisra98/Mish/issues/18

Other than that, mixing previous ideas and adding your own is what scientists and researchers clearly already do all around the world every day. Newtown said "If I have seen further it is by standing on the shoulders of giants".

[2019-11-18 02:58] digantamisra98 commented on #18
Hey @glenn-jocher
Thanks for raising the issue. I'm aware of the concerns of Mish being slower and more computationally expensive in regards to other activation functions like Leaky ReLU. There is one CUDA based implementation which you can try as it has shown considerable improvements over that of the implementation you're using.

Following is a table which shows the improvement in speed profilin

[2019-11-18 18:28] AlexeyAB commented on #18
@digantamisra98 Hi, why you didn't integrate this ttps://github.com/thomasbrandon/mish-cuda CUDA-mish-implementation to your repository?

[2019-11-18 18:30] digantamisra98 commented on #18
@AlexeyAB I have added it in the Readme. To give him credits I kept his integration as his own repository and added only the baseline implementation in my own. Also his implementation was constructed recently based on a Fast.ai discussion forum long after Mish was already there.

[2019-11-18 19:42] AlexeyAB commented on #18
Just wondering how optimal it is to specify only Forward-implementation function without Backward-implementation? https://github.com/ultralytics/yolov3/blob/7ebb7d131078bd8357aeddf23fd68414d1593612/models.py#L124-L131

[2019-11-18 20:08] digantamisra98 commented on #18
@AlexeyAB It isn't optimal. It's rather a quick start. For optimal performance, I will obviously go for both Forward and Backward Pass Implementation which has been followed by Mish CUDA, deeplearning4j, TensorFlow Addons for Mish including your implementation in darknet.

[2019-11-21 01:45] changxinC opened #19 "The result is not good"
Hi, I tried to use mish instead of relu on mask r-cnn, including res-net and three head, but the AP dropped 0.3 in the end. What is the possible problem?
Thank you!

[2019-11-21 08:06] digantamisra98 commented on #19
@changxinC Hi. Thanks for raising the issue. Can you please share the code to reproduce the results?

[2019-11-21 09:34] changxinC commented on #19
Thank you for your reply!
[code]
I used the above code to replace all F.relu_() and leaklyrelu(0.2, inplace = True).

[2019-11-21 09:51] digantamisra98 commented on #19
@changxinC can you please post the complete program along with the data loaders and architecture.

[2019-11-25 07:21] changxinC commented on #19
I had found the problem, it might be that I used a pretrained backbone network using relu, and then replace the relu with mish, instead of initializing the backbone network after replacing the mish.
Now I haven't modified the backbone network, only changed the relu in other places to mish, and the AP is improved by 0.3.
I'd like to ask if you have a resnet-50 pretrained model using mish.
Thank you

[2019-11-25 07:31] digantamisra98 commented on #19
@changxinC Ah, got it. Thanks for the response. Glad to know that the AP improved. I am working on ImageNet training as of now so soon will upload a ResNet-50 pretrained model. Will take some time though. Closing this issue since it seems to be resolved.

[2019-11-25 07:31] #19 closed

[2019-12-03 18:19] digantamisra98 commented on #18
Closing this issue due to inactivity. Feel free to re-open if not resolved.

[2019-12-03 18:19] #18 closed

[2019-12-29 12:34] ildoonet commented on #11
@jpcenteno80 @digantamisra98 Is there any inplaced implementation which is verified for its performance?

[2019-12-30 19:22] digantamisra98 commented on #11
@ildoonet The only faster (fastest) implementation of Mish whose performance is verified is by Thomas Brandon. Link -  https://github.com/thomasbrandon/mish-cuda
The issue with inplace implementation for Mish arises because of the non-support for inplacing the Tanh operator.

[2020-01-02 17:09] hadaev8 opened #20 "Should be mish used before or after batchnorm?"

[2020-01-02 19:50] digantamisra98 commented on #20
I would suggest Activation (Mish) -> Batch Normalization. However, the original paper and even the official ResNet code in Keras does the opposite. B.N after Mish makes more sense to me from both mathematical and practical sense to me. For reference please follow this [Reddit](https://www.reddit.com/r/MachineLearning/comments/67gonq/d_batch_normalization_before_or_after_relu/) Thread.

[2020-01-02 19:50] #20 closed

[2020-01-02 19:55] hadaev8 commented on #20
Thanks

[2020-01-06 10:15] henbucuoshanghai opened #21 "how to use mish in tensorflow slim.conv2d????"
slim.conv2d    it is relu    ,how to change it to mish?

[2020-01-07 07:03] digantamisra98 commented on #21
@henbucuoshanghai Hi. I'm not sure how to integrate Mish into TF slim. I'll have to give a check. Meanwhile, you can try integrating TF-Addon's Mish into the TF Slim architecture. Give me some time and I'll get back on this issue. Link to TFA implementation - https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations#contents

[2020-01-07 08:15] henbucuoshanghai commented on #21
very Kind of you

[2020-01-10 10:16] tmassingham-ont opened #22 "Equivalent, faster (?) formulation"
Hello, thanks for the great work.  Using the exponential identity for tanh, you can remove two of the transcendental operations (exp, log) and get what, hopefully, should be a faster implementation.

Since
[code]
you can express Mish as:
[code]
or equivalently (to avoid overflow when x is large)
[code]

NB:  With a little tweak, there is an interesting connection to the GELU approximated with a lo

[2020-01-12 05:23] digantamisra98 commented on #22
@tmassingham-ont Thank you for raising the issue. I just plotted the faster approximation you have presented:
[code]
And I can confirm the graph looks the same:
![mish_approx](https://user-images.githubusercontent.com/34192716/72214510-ac5e1680-3529-11ea-935e-48c6913170a0.png)

I will try running it on a model and do a speed comparison today and will post on the updates.

That's an interesting obs

[2020-01-12 08:55] VRandme commented on #22
I tried a very naive implementation taking the original mish :
def f_mish(input):
    '''
    Applies the mish function element-wise:
    mish(x) = x * tanh(softplus(x)) = x * tanh(ln(1 + exp(x)))
    '''
    return input * torch.tanh(F.softplus(input))

and changing it to the code/equation @tmassingham-ont has posted
to get

def f_mish_fast(input):
           return input * (1+2*y) / (1 + 2 * y +

[2020-01-12 10:14] digantamisra98 commented on #22
@VRandme
How was the memory consumption on your GPU like? Can you post the output for `nvidia-smi` ?
Additionally, based on your analysis, we could use a mixture of the faster approximation for CPU by @tmassingham-ont and the CUDA Mish by [Tom](https://github.com/thomasbrandon/mish-cuda).
For instance, it would be something like this:
[code]
Would be great if you can post your notbook.
Thanks!

[2020-01-12 13:15] VRandme commented on #22
Again, this is a very naive implementation but seemed pythonic.

[mish vs fast_mish.zip](https://github.com/digantamisra98/Mish/files/4050673/mish.vs.fast_mish.zip)

@digantamisra98  how would i output "nvidia-smi"?

I am looking for ways to optimize my implementation by using pytorch methods and functions and / or numpy.

[2020-01-12 13:17] VRandme commented on #22
Note that the output "looks" the same but are not exactly the same. (last two lines illustrate this)
I attribute this to floating point issues but I am not a floating point expert.

[2020-01-12 13:46] VRandme commented on #22
I think i should first profile the code purely in CPU for comparison, since it seems the CUDA mish would be the fastest under Cuda

[2020-01-12 14:43] VRandme commented on #22
I refactored my code to make the tables prettier and CPU vs GPU comparison more clear.
On GPU, it is considerably slower, but I don't think there are many gains there since the original code, is faster on GPU and i bet the cuda implementations is faster still.
I would guess that the code as is, with a balanced use of both transcendental functions and multiply adds, utilizes GPU resources better.

[2020-01-12 22:01] tmassingham-ont commented on #22
Hello; nice improvement with the CPU there.  Just to be clear, the formula for `mish` I posted are mathematically identities, not approximations, and so any difference from the original must be due to numerical issues.

I suspect the poor CUDA performance of "fast mish" is due to each of the cheap operations (add, mul, etc) being executed as separate CUDA kernel, rather than being fused together.

[2020-01-13 03:19] digantamisra98 commented on #22
@tmassingham-ont Thank you for all the information. I'll do a clear profiling for jit and original implementation today. @VRandme Thanks for all the work and for uploading the notebooks. I will try to optimize it more and see if a combination of CUDA Mish and Fast Mish can be made possible based on device type.

[2020-01-13 13:26] VRandme commented on #22
since @digantamisra98  did not close this issue, I decided to further refine my notebook using @tmassingham-ont 's suggestion of decorating functions with "@torch.jit.script "

All i can say is... wow this definitely needs more testing and replication.

mish original GPU
Self CPU time total: 207.180ms
CUDA time total: 397.442ms
(original code and JIT decorated original code shows similar results.

[2020-01-13 22:01] tmassingham-ont commented on #22
@VRandme Great work!  If you can spare the time, would you mind benchmarking the following please?
[code]

This replaces a call to `pow` with a explicit multiplication and factors out a common term.  A quick test on my local CPU suggests it is about 20% faster than `fast_mish`.

[2020-01-13 22:13] VRandme commented on #22
@tmassingham-ont other people suggested the same optimization but i assumed that JIT decoration would do that automagically for me.
I'll try the change later today if nobody beats me to it.

[2020-01-13 22:27] tmassingham-ont commented on #22
Thanks.  I'd have thought the same, but the presence of the `pow` call in the profiling suggests the JIT isn't clever enough to make this optimisation.  There's a further variant `x * (1 + 2 * y) / (1 + y * (2 + 2 * y))` that makes the three fused multiply-add operations explicit, but I'm not observing as much as an improvement using this.

[2020-01-14 10:41] VRandme commented on #22
Another day, another notebook.
Turns out, @tmassingham-ont 's was right refactored inlined faster mish is further faster
I removed all other versions except (Original mish JITified, Faster mish JITified)
This made me think. We would you NOT want JITified code?

Anyway, I also added %timeit calls at the end of the notebook.

My testing shows competitive results with even F.relu.
I attribute to the

[2020-01-14 10:41] tmassingham-ont commented on #22
Hello.  I've had a chance to run things on a GPU machine (Nvidia Xavier, so unusual balance of CPU & GPU); script and benchmarks attached.  With GPU+JIT, the various fast versions of mish are performing similar to ReLU on this platform.  Not bad.

Tested:
- `fast_mish`, original proposal
- `faster_mish`, FMA made explicit
- `faster2_mish`, common factor lifted + don't use `pow` to square

The vari

[2020-01-14 10:59] VRandme commented on #22
@tmassingham-ont wow we posted almost simultaneously.

I also replicated competitive to relu performance, but we used the same tensorsize(50000) and batch numbers(10000)
But we have different platforms(RTX 2080Ti vs Xavier) so thats a meaningful datapoint.

My version looks closest to "faster2_mish"
I like it the most because its easier to read for me.

I've been thinking of comparisons with the C

[2020-01-14 20:36] digantamisra98 opened #23 "She wants it hard, am I finna get any issue?"
Sorry for my lack of common sense..
Maaf kijiye ga, gusse mein common sense ka idhaar udhaar hojata he

[2020-01-15 08:06] digantamisra98 commented on #22
@tmassingham-ont @VRandme Please find the latest commit which addresses the discussion on this issue thread.

[2020-01-15 09:25] VRandme commented on #22
Good work @digantamisra98!
However, considering that testing by me and @tmassingham-ont showed that the faster mish is better even for GPUs, is there a reason you maintained the original mish for CUDA? Do you feel that more extensive testing should be done before completely changing the code?

[2020-01-15 09:28] digantamisra98 commented on #22
@VRandme yes, since Tom's code resulted in non optimized output for double precision format. Until it is successfully tested and verified for all data formats, I can't update the code for CUDA as of now.

[2020-01-15 09:38] digantamisra98 commented on #22
We also have another implementation on Echo for Mish here - https://github.com/digantamisra98/Echo/blob/master/echoAI/Activation/Torch/mish.py

[2020-01-15 12:34] VRandme commented on #22
That's a reasonable approach.
If this helps, I would like to show you my code where **double precision wasn't an issue**.

#Plain relu
%timeit F.relu(testdata_CPU)
%timeit F.relu(testdata)
%timeit F.relu(testdata_float64)
51.2 µs ± 934 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
53.1 µs ± 10.4 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
**56.8 µs ± 8.2 µs per loop** (

[2020-01-15 13:24] thomasbrandon commented on #22
Using %timeit doesn't properly profile CUDA code as kernels are launched asynchronously. Note that on relu you find equivalent performance on float64 which is clearly wrong. It should be about twice as slow when properly measured as it basically does 2x the 32-bit operations (GPUs don't have any 64-bit math support). You see this in my profiling results.Using %time actually tends to give fairly re

[2020-01-15 14:20] VRandme commented on #22
@thomasbrandon thank you for your input! I always wanted to know what you thought about all this endeavor since you implemented a CUDA version.

I agree with you on that. Taking a closer look at the profiled code,

**F.relu
Self CPU time total: 83.589ms
CUDA time total: 147.860ms**

F.relu float64
Self CPU time total: 43.811ms
CUDA time total: 101.819ms

mish original JIT GPU
Self CPU time total:

[2020-01-15 14:30] VRandme commented on #22
At least the outputs of the from the activations show this results so if it is silently changing into float32, it is changing back into float64 at some point
![float64](https://user-images.githubusercontent.com/15088501/72441957-f592bc80-37ee-11ea-8cd2-bbff4e8e02e9.png)

[2020-01-15 15:26] thomasbrandon commented on #22
Will have to have a closer look at the profiling results to try and figure out what's going on. I haven't seen anything to indicate torch will generally do any sort of data conversion. But in general there is pretty limited support for float64 in torch as it really isn't used outside of very limited cases. Many operations aren't implemented for float64. So maybe JIT is automatically converting thi

[2020-01-21 17:06] DonaldTsang opened #24 "More comparison with existing methods?"
Just wondering if all Activation Functions have been addressed in the ReadME.
-  https://www.semanticscholar.org/paper/A-comparative-performance-analysis-of-different-in-Farzad-Mashayekhi/bcfdfe54796c501a90c3b353661a19e9c161d2c8/figure/0
-  https://www.semanticscholar.org/paper/Activation-Functions-for-Generalized-Learning-A-Villmann-Ravichandran/04d54996bcbe44b3547da889d7eab8aab3660990/figure/0
-

[2020-01-21 17:27] DonaldTsang commented on #24
- https://github.com/kligvasser/xUnit/issues/4 and https://github.com/kligvasser/xUnit/issues/3
- https://github.com/hendrycks/GELUs/issues/2
- https://github.com/bigsnarfdude/SELU_Keras_Tutorial/issues/2
- https://github.com/Neoanarika/Searching-for-activation-functions/issues/2
- https://github.com/ml-research/pau/issues/2 and https://github.com/ml-research/pau/issues/3

[2020-01-22 01:53] DonaldTsang opened #25 "Computational cost of Mish vs GELU vs Swish"
What are the computational cost (CPU/GPU cycles per node) of Mish vs GELU vs Swish?
If it is possible to reduce the CPU/GPU cycles of the computation through simplification,
it can save both time and energy, leading to lower green house gas emissions.
Of course convergence is important, RELU isn't that computational heavy, but it is weak,
and right now the second derivative of both GELU and Swish

[2020-01-22 04:11] digantamisra98 commented on #24
Hi. Thanks for raising the issue. Comparison/ Benchmarks have been presented in this paper/ repository for Mish vs Swish, GELU and SELU. PAU and X-Units are not in my priority list to have a comparison against, but I can definitely run some experiments in the coming week. Additionally, xUnit is a block and not a function, so the more sensible approach would be to replace the non-linearity in xUnit

[2020-01-22 04:11] #24 closed

[2020-01-22 04:14] digantamisra98 commented on #25
Mish is more computationally cheaper than GELU. Using device optimized code like [CUDA_Mish](https://github.com/thomasbrandon/mish-cuda) for GPU and [CPU_mish](https://github.com/digantamisra98/Mish/blob/107cfa5b46efd052e330f1c46c9f0f276fedd31e/Mish/Torch_dev/functional.py#L25) have made it significantly faster and cheaper to compute. There's an active issue thread discussing about this in detail

[2020-01-22 04:14] #25 closed

[2020-01-22 04:15] DonaldTsang commented on #24
It is due to their exotic nature that make it interesting to compare, as they may contain hidden information regarding what an optimal activation function should or should not look like. I would like to look into the issue as well.

[2020-01-22 04:22] digantamisra98 commented on #24
@DonaldTsang "Searching for Activation Functions" is the paper for Swish. All of my tests have compared Mish with Swish. What do you mean exactly by tests?

[2020-01-22 04:26] DonaldTsang commented on #24
@digantamisra98 the paper itself did list other "exotic forms" (not Swish itself) that are not on the table in the readME of the Mish, I would assume it is due to differences in naming schemes?

[2020-01-22 04:30] digantamisra98 commented on #24
@DonaldTsang The authors of that paper used a reinforcement learning algorithm to search the function space to obtain the best possible non-linear function which qualifies as an activation function. Out of all that were obtained in that search, Swish performed the best and hence I used Swish as a comparison benchmark against Mish and not the other activation which the algorithm found in that paper

[2020-01-22 04:32] DonaldTsang commented on #24
So the other algorithms in https://github.com/Neoanarika/Searching-for-activation-functions/blob/master/src/rnn_controller.py#L22 might not be as useful, I would assume? Or are you saying that the activation functions listed in the paper itself is "filler"?

[2020-01-22 04:37] digantamisra98 commented on #24
@DonaldTsang The other activation found by the search in that paper were not as efficient as Swish.
Quoting from the paper's abstract itself:

[2020-01-22 04:50] DonaldTsang commented on #24
But would they at least have some historical significance, as some are "close call" activation functions e.g. `(atan(x))**2−x` and `cos(x)`-x?
For notes though `max(x,tanh(x))` is already a well-established function.
![](https://www.henryailabs.com/ArticlePictures/3-3-19-5.jpg)

[2020-01-22 04:55] digantamisra98 commented on #24
@DonaldTsang my current work with Mish involves more about Mean Field Theory - helping to find the Edge of Chaos and Rate of Convergence for Mish. These are more relevant since it will help to understand more of what's an ideal activation function like.

[2020-01-22 05:23] DonaldTsang opened #26 "Extended Coverage of other CNNs"
(As a side note)
There are papers that noted information regarding the larger variety of CNNs for ImageNet testing.
- https://github.com/BertMoons/Comparing-CNN-Architectures
  - https://www.researchgate.net/publication/328490160_Embedded_Deep_Neural_Networks_Algorithms_Architectures_and_Circuits_for_Always-on_Neural_Network_Processing
- https://github.com/CeLuigi/models-comparison.pytorch
  - htt

[2020-01-22 05:25] DonaldTsang opened #27 "Discussion regarding GAN benchmarks"
For starters I would like to mention that https://github.com/kozistr/Awesome-GANs and https://github.com/nightrome/really-awesome-gan exists for people to check references.

[2020-01-22 05:37] digantamisra98 commented on #26
ImageNet training is way too costly for compute and I don't have the resources to do the same so unfortunately I won't be pursuing on benchmarking networks on ImageNet.

[2020-01-22 05:37] #26 closed

[2020-01-22 05:40] digantamisra98 commented on #27
GANs or any additional benchmarks are not in my priority list. I'm more interested in exploring the theory aspects of why Mish is better. Empirical benchmarks can go only so far to prove the robustness of an activation function so I don't think it makes much sense to have extensive benchmarks on many architectures out there.

[2020-01-22 05:40] #27 closed

[2020-01-24 04:54] digantamisra98 commented on #22
Small update. I have shifted the newer device based implementation to [Mish/Torch_dev](https://github.com/digantamisra98/Mish/tree/master/Mish/Torch_dev). The reason for the same is due to concerns over speed profiling issues raised due to multiple calls of "torch.is_cuda_available" and also that sometimes even if my device is on CUDA, I would want certain tensor operators to be on CPU level to sa

[2020-01-29 10:00] qo4on opened #28 "Why does mish return significantly worse result than elu?"
I've tested mish vs elu on a simple feedforward network with L2 and dropout and got this result:
![download](https://user-images.githubusercontent.com/35609308/73350259-82894b80-42ae-11ea-9137-fb2eb0445089.png)

You can check it with [Colab Notebook](https://colab.research.google.com/drive/1NS1oNyvXf3M-m7t6WWWXFYviA6dia7P6), press ctrl+f9.

[2020-01-30 07:10] digantamisra98 commented on #28
Hey @qo4on. Thanks for providing me the notebook, would you mind running Mish for the complete number of Epochs as ELU was run. Additionally, if you could, run it for 3 runs to get the P-statistic to see how statistically different they're. So far, in my testing, especially in the domain of vision, Mish has consistently proved superior to ELU. Clearly, I have to do many more tests. Thanks for the

[2020-01-30 08:41] qo4on commented on #28
I ran this test several times and didn't see much difference compared to the picture above. Longer training leads to overfitting:
![download](https://user-images.githubusercontent.com/35609308/73433229-31d52980-4366-11ea-968c-5c21286cd717.png)
Do you have any idea why this is happening?

[2020-01-30 09:27] digantamisra98 commented on #28
@qo4on I have to investigate this much further, don't have a solid conclusion on this yet. Did you try Swish or ReLU?

[2020-01-30 10:34] qo4on commented on #28
I tried ReLU. It works even worse, overfits quickly.
![download](https://user-images.githubusercontent.com/35609308/73441927-aa8fb200-4375-11ea-9172-7ea0eeb3ee6c.png)
If you find out what's going on please don't forget to post here. It's very interesting behaviour.

[2020-01-30 21:54] njcurtis3 opened #29 "Demo Jupyter Notebooks - Link "404" error"
Page link for testing with Jupyter notebook leads to "404 page not found" error.

![image](https://user-images.githubusercontent.com/11468122/73493468-6c47c200-4378-11ea-90ae-993a3bf48c0b.png)

[2020-01-30 21:59] njcurtis3 opened #30 "Source Code Implentation - "404" Error"
Keras and Tensorflow links lead to "404" error.

![mish_keras_tf_link_404](https://user-images.githubusercontent.com/11468122/73493977-66061580-4379-11ea-956d-7be7253c2de4.PNG)

[2020-01-31 05:10] digantamisra98 commented on #30
Fixed. Additionally, Keras native support has been depreciated.

[2020-01-31 05:10] #30 closed

[2020-01-31 05:10] digantamisra98 commented on #29
Fixed.

[2020-01-31 05:10] #29 closed

[2020-01-31 05:24] digantamisra98 commented on #28
That's weird. Haven't seen such an issue in any of my experiments so far. I'll investigate further.

[2020-02-13 16:12] DonaldTsang commented on #22
Okay so what is the current verdict?

[2020-02-13 18:56] digantamisra98 commented on #22
I think @thomasbrandon can provide a more concrete conclusion.

[2020-02-15 22:06] drscotthawley commented on #22
Note that since the faster version makes use of temporary storage, it can result in out of memory (OOM) errors -- as I've been getting until I realized this* -- if you don't decrease your batch size.   Running the original, slower version incurs no such issue.

*This was using the Keras 2.1.3 & TF 1.4.1, with CUDA.  These are old versions of these packages; perhaps newer version have some clever w

[2020-02-24 20:45] digantamisra98 commented on #22
@drscotthawley The faster version was more intended for CPU. Did you face OOM errors in CPU too?

[2020-02-24 20:46] digantamisra98 commented on #21
@seanpmorgan @WindQAQ

[2020-02-24 21:29] seanpmorgan commented on #21
Hi! So TF-Addons is for TF2.x and thus there is no support for the slim library (That was part of `tf.contrib` and is no longer available in TF2).

I think the easiest way to implement it in your existing architecture (given that you have to use slim) would be to write a simple python ops version of mish that you could use:
[code]
TF-Addons uses custom-op kernels for CPU/GPU that would give you a

[2020-02-24 22:13] digantamisra98 commented on #21
@henbucuoshanghai hopefully, this solved your issue. Closing this as of now. Feell free to re-open.

[2020-02-24 22:13] #21 closed

[2020-02-24 22:32] drscotthawley commented on #22
@digantamisra98  Ah, no. I only tried it on GPU -- and a fairly small one at that: GTX 1080, 8GB of VRAM.
Thanks.

[2020-02-24 22:40] digantamisra98 commented on #22
@drscotthawley ah, alright. Thanks for your inputs :)

[2020-02-25 11:02] thomasbrandon commented on #22
@digantamisra98:

Sorry, haven't had much time to look at this recently. A concrete conclusion as to what exactly?

@drscotthawley :

You can use a `torch.autograd.Function` to eliminate the use of temporary variables. But you then need to take care of the backward calculations yourself. You might also try using `@torch.jit.script` as that might eliminate the temporary storage while still doing an

[2020-02-25 18:36] digantamisra98 commented on #22
@thomasbrandon so conclusion would be it's more than the kernel launch and CUDA overheads rather than the computational complexity of the native functional definition of each activation function (Swish and Mish) that is preventing it from being more cheap than what you could achieve by Mish-CUDA.

[2020-03-31 13:32] VRandme opened #32 "Comparison with TanhExp"
Through the mish landing page I found this paper
TanhExp: A Smooth Activation Function with High Convergence Speed for Lightweight Neural Networks  [Paper](https://arxiv.org/abs/2003.09855)

Long story short it is an adjustment on mish.
In many of the evaluations that they have done, they show consistent improvement across many benchmarks over mish.

Whether this improvement holds upon other datas

[2020-03-31 15:53] digantamisra98 commented on #32
Thanks for raising the issue. Haven't read the paper yet but during my early testing of  Mish, I had also tested TanhExp (much before this paper come out, more like in March 2019) along with 4 other variants. TanhExp never made the cut in my broadsuite of experiments, it passed muster in some but was highly inconsistent and unstable also leading to NaN losses in many cases. Also I am not sure if t

[2020-04-01 01:00] VRandme commented on #32
1. I am quite surprised that TanhExp could become inconsistent and unstable. Are you sure you tested the tanhexp as formulated in the paper?
y  = x * tanh ( exp ( x ) )
Anyway, on a cursory look it seems like it is similar to swish/mish near zero and minus ranges and almost like relu in the positive(above 1) ranges without being piecewise.
It is possible for it to be unstable in actual uses, and m

[2020-04-01 01:29] digantamisra98 commented on #32
1.  These are the initial variants I had come up with when designing Mish, one of them is TanhExp but I'm unsure which one but I didn't keep record unfortunately of it's results. I might be wrong but as far as I recall it was a bit inconsistent and more sensitive to hyperparameter changes as compared to Mish. I can do a bit of numerical analysis on TanhExp in the coming weeks if time permits.
![4b

[2020-04-08 08:57] #32 closed

[2020-04-08 08:58] #28 closed

[2020-04-08 08:58] #22 closed

[2020-05-27 21:39] LifeIsStrange commented on #28
@digantamisra98 why was it closed? Did you found an explanation?

[2020-05-27 21:48] digantamisra98 commented on #28
@LifeIsStrange I am working on the theoretical reasoning behind this and should be able to get something substantial out by the next version release but until then this issue was closed because it was stale.

[2020-05-27 21:51] LifeIsStrange commented on #28
Any expected timeframe for the next version release? (take your time :})

[2020-05-27 23:04] digantamisra98 commented on #28
Maybe next month since I'm busy with some other commitments.

[2020-07-06 14:12] VRandme opened #34 "Application of Mish on ReXNet"
[ReXNet: Diminishing Representational Bottleneck on Convolutional Neural Network](https://github.com/clovaai/rexnet)
This paper addresses representational bottleneck in a network and proposes new design principles.
The authors apply this method on MobileNetV1 and V2 and gain performance that scales much better than EfficientNets

One of the tools they use is Swish. In this instance, they actually

[2020-07-06 16:50] digantamisra98 commented on #34
Yes, I came across this paper a couple of days ago. I'm inclined towards testing Mish on this architecture however I don't have the compute resources for ImageNet experiments allocated for Mish as of now.

[2020-08-17 14:19] PallHaraldsson opened #35 "Mish and alternatives, including my own"
First, congratulation on your Mish paper accepted.

I've been thinking about activation functions, and how they can be improved, what properties are most important for a long time, and also inspired by your paper (I noticed the days old update), and e.g. recent SharkFin (my own unpublished idea has some similarities).

I was just thinking if I could ask you some questions, I'm not sure if this is

[2020-08-30 16:14] digantamisra98 commented on #35
Wait, I didn't get this argument:
_When I see you report Mesh (best) e.g. 88.15% on CIFAR-10, using SqueezeNet, and other reporting 99% accuracy on that dataset with GELU[2], I think it's about the model, not really saying anything about which function is the best:_

They're running with different hyper-parameters. All my experiments for comparing activations were run with same parameters which do

[2020-08-30 17:08] PallHaraldsson commented on #35
I was trying to say the same thing as you are, the higher numbers are due to something else. I hought others use different model (same dataset), could be that and/or hyperparameters.

I would be curious about seeing if some of these other high number should go even higher by just switching to Mish.

[2020-08-30 17:11] digantamisra98 commented on #35
Technically it should. But again I haven't done a hyper-parameter search to find the best parameters to maximize gain for Mish. This is mostly incorporating the use of weight initialization and learning rate. Some initialization strategies really favor ReLU's performance.

[2020-08-30 18:53] PallHaraldsson commented on #35
Substituting one function for another (e.g. ReLU or sigmoid) assumes the Universal Approximation Theory still holds. I think it does and we shouldn't be too worried. However, even with ReLU or any other function, knowing you could approximate in theory, doesn't mean your network would converge. I'm not sure that's an actual problem for e.g. Mish over some other more established function.

The proo

[2020-08-30 19:20] PallHaraldsson commented on #35
Intriguing (and much better than XNOR-Net, and other binary), curious how would work with your fucntion:

https://arxiv.org/pdf/1605.04711.pdf

[..]
Table. 2 summarizes the overall benchmark results with the previous settings. On the small scale datasets (MNIST and CIFAR-10), TWNs achieve state-of-the-art performance as FPWNs, while beat BPWNs a lot.

[2020-09-01 12:30] PallHaraldsson commented on #35
It's a bit puzzling that ternary (or binary) networks are this good. It's not obvious that they are still universal approximates, e.g. if you wanted +2 or +3 as a weight you would need 2 or 3 neurons etc. instead of one, but weight 0.5 seems problematic.

[2020-09-01 14:03] digantamisra98 commented on #35
Consider reading ReActNet from ECCV 20.
Also this discussion is very broad and since there isn't any issue regarding the repository, I'd like to close this thread and rather would request you to move it to the dedicated Fast.AI forum for Mish. Link - https://forums.fast.ai/t/meet-mish-new-activation-function-possible-successor-to-relu/53299

[2020-09-01 14:03] #35 closed

[2020-09-01 14:04] digantamisra98 commented on #34
Since, I don't have access to any compute now and it won't be possible for me to run this model, I'm closing the issue as of now but will keep this on my checklist to run whenever I have access to a cluster. Thanks!

[2020-09-01 14:04] #34 closed

[2020-10-03 05:51] vanche opened #36 "Visualization code hyperlink page is not found."
https://github.com/digantamisra98/Mish/blob/master/output_landscape.py is not found
Please fix it

[2020-10-03 17:36] digantamisra98 commented on #36
[code]

There are many ways to generate output landscape of a neural network. You can use the above code. However, it's subjective. For further insights and details into landscapes of neural networks, please visit [PyHessian](https://github.com/amirgholami/PyHessian) and [Tom Goldstein's Loss Landscape Paper](https://github.com/tomgoldstein/loss-landscape).

[2020-10-03 17:36] #36 closed

[2020-11-16 19:44] evanatyourservice opened #37 "Correct gain value during kaiming weight initialization"
Hello! Great work on this activation function! I've been using it in some of my projects with great success.

I want to let you know I found what the gain should be set at during kaiming weight initialization for Mish.

I found this experimentally using this code:

[code]

which was talked about [here](https://discuss.pytorch.org/t/calculate-gain-tanh/20854/8). The "a" hyperparameter for init.kaim

[2020-11-17 20:38] digantamisra98 commented on #37
Thanks for the appreciation of my work. I'm glad Mish has been working well in your projects.

This is an interesting observation, I haven't extensively investigated into the optimal initialization schemes for Mish. I will check this more and verify this. Off context, have you tried Orthogonal initialization earlier?

[2020-11-18 19:16] evanatyourservice commented on #37
No I have not! But now I want to after you've reminded me -- orthogonal used to work very well for me in RL experiments with complex networks. Maybe I'll try it out with the standard deviation experiment above and see what happens. With kaiming uniform I was getting some signal up to about 75 layers.

I've only messed around with the kaiming uniform and fan_in, but i'm sure the gain/slope setting

[2020-11-24 12:50] digantamisra98 commented on #37
Right, the reason I'm interested in orthogonal initialization because of [this](https://github.com/EsterHlav/Dynamical-Isometry-from-Orthogonality-Neural-Nets). Let me know if you have had any progress with orthogonal initialization.

[2020-11-25 02:14] hiyyg commented on #25
@digantamisra98 Well, in my experiments, speed: `mish` < `mish-cuda`~`nn.SiLU` < `nn.GELU`.

[2020-11-25 02:17] digantamisra98 commented on #25
@hiyyg it depends on what form of GELU you're using. As referred in the paper, if you use the exact form, it's pretty slow. Also could you post your results including: Hardware, Executed Script, Forward And Backward pass timings. Thanks!

[2020-11-25 07:15] hiyyg commented on #25
@digantamisra98 I use `nn.GELU` from pytorch. I run 3 exps simultaneously wrt. `nn.SiLU`, `nn.GELU`, `mish-cuda` on machine with 4 TITAN X GPUs, `mish-cuda` and `nn.SiLU` take about 14 hours, while `nn.GELU` takes about 12 hours. I also tested a memory efficient `Mish` from [here](https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/layers/activations_me.py#L88), but it was mu

[2020-11-25 08:11] hiyyg commented on #25
Well, on another machine with 2080Ti GPUs, the difference is smaller. The speed of `nn.SiLU`, `nn.GELU` and `mish-cuda` is almost the same.

[2020-11-25 16:01] digantamisra98 commented on #25
@hiyyg There are many contributing factors. 1. PyTorch, I assume, doesn't use the exact form of GELU. 2. Memory Efficient Mish isn't supposed to be faster, it's supposed to use less memory and since it's written on Pytorch sub optimally, anything written on the low level C++ kernels would be much faster.

[2020-12-12 00:06] digantamisra98 commented on #37
@evanatyourservice Thanks for the update. Interesting, in orthogonal, you need to keep the init on the EOC otherwise you'll either have vanishing or exploding gradients.
Keep me posted with your progress.

[2021-11-11 00:45] philipturner opened #39 "Need help with Mish-Metal"
I read your research paper on Mish, and from the graphs I saw, it is clearly the best activation function.

You had two different implementations of Mish with widely different computational overheads. There were standard Mish and Mish-CUDA, where Mish-CUDA has almost zero computational cost. I'm optimizing DL4S for Metal, and looking to optimize Mish so that it can be the top-recommended function.

[2021-11-11 00:57] digantamisra98 commented on #39
@philipturner Thanks for reaching out. Unfortunately I wasn't primarily involved in the dev of Mish-CUDA. The best person to answer your queries would be @thomasbrandon. But considering Mish is already available in PyTorch native, you should go through the codebase of the torch implementation as well.

[2021-11-11 01:24] philipturner commented on #39
Thanks for responding so quickly! Implementing Mish is still far in the future, as I'm going to (hopefully not) have to rewrite DL4S from the ground up for GPU. I didn't know where to find code for Mish-CUDA in your repo, so thanks for the pointer. I'll look at it when I get around to implementing Mish, and heavily optimize it myself. I'll put in more effort to optimizing Mish than anything else b

[2021-11-11 01:39] philipturner commented on #39
The source code was very helpful and I just scanned it. It's not that complicated, and it does something interesting with computing gradients that likely causes the speed boost.

[2021-11-11 22:54] digantamisra98 commented on #39
@philipturner Thanks for the feedback. Sure, I'll be happy to read your work and let you know my thoughts on the same. Re: DL4S, while I believe supporting Metal will be really interesting, I'm a bit unsure about my bandwidth for contribution to the project probably up until the Winter break. But I'll be happy to be in the loop and help in any way possible.

Re: Mish-CUDA: yes, as far as I underst

[2021-11-11 23:08] philipturner commented on #39
That's okay! I figured you wouldn't have much capacity to contribute, but I still wanted you to be part of it. I feel like I'm in the same situation as you, trying to get the word out about a personal discovery (Mish or ARHeadsetKit). It's also really cool to be working with the engineer of the theoretically most optimal activation function in existence.

Would you mind changing your repository vi

[2021-11-11 23:24] digantamisra98 commented on #39
@philipturner I'll try my best to help maximally as I can. And yes I can understand spreading the word of a novel work is not easy but once you tell it to a few people it will spread like a chain reaction. So it's just a matter of time and I wish the best for you. Also I won't be confident on claiming that Mish is the most optimal function but it's cool to see the works which have benefited becaus

[2021-11-12 00:17] philipturner commented on #39
Thank you so much for your insight! It's been an honor talking to you!

[2021-11-12 00:36] #39 closed

[2022-06-10 07:47] LeungWaiHo opened #40 "Issue about Table.1"
Dear authors:
Thanks for your contribution in activation functions.
Now I have a question about a statistical index "mean loss" in Table.1. Could you please tell me what the meaning is?
Thanks again. And looking forward to your reply.

[2022-06-10 08:56] digantamisra98 commented on #40
@LeungWaiHo it corresponds to the mean of the final validation loss recorded across the 23 runs for that table. Let me know if you still have any questions.

[2022-06-10 09:40] LeungWaiHo commented on #40
@digantamisra98 "validation loss" means the error percentage on the validation dataset or other items?

[2022-06-10 15:35] digantamisra98 commented on #40
Just on validation dataset, yes.

[2022-06-21 06:25] #40 closed

[2022-06-30 18:03] aicrumb opened #41 "Spelling error in repo description"
"Repsoitory" is written instead of "Repository," didn't know if anyone had caught that or if it was intentional for whatever reason that I'm not aware of lol

[2022-07-01 15:21] #41 closed